<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ title }}</title>
	<!-- write your link stat here -->
</head>
<body>
	{{{ body }}}
	<p>Trademarks {{ title }}</p>
</body>
</html>