<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
	.Trademarks{
		padding: 10px;
	}
	</style>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ title }}</title>
	<!-- write your link stat here -->
</head>
<body>
	{{{ body }}}
	{{!-- <div class="Trademarks">Trademarks {{ title }}</div> --}}
</body>
</html>