.navbar{
	display:flex;
	align-items:center;
	/*grid-auto-flow: column;*/
	width: 100%;
	/*grid-auto-columns: auto;*/
	background-color: rgba(140, 140, 243, 0.3);
	height:70px;
}
.navbar div{
	padding: 20px 20px;
	text-decoration: none;
}
.navbar a{
	padding: 20px 20px;
	text-decoration: none;
}
.navbar div:hover{
	background-color: rgba(140, 140, 243, 0.7);
}

#title{
	font-weight: bold;
	padding: 20px;
	color: rgb(112, 5, 78);
	border-right: 5px solid rgba(140, 140, 243, 0.1);
}

.container{
	display: grid;
	grid-template-columns: auto;
	grid-gap: 1em;
	margin:2%;
	text-align: center;
}

.container div{
	background-color: #eee;
}
.container div img{
	height: 500px;
	max-width:100%;
}	


@media screen and (min-width: 800px){
		.container{
			display: grid;
			grid-column-gap: 2em;
			/*margin: 0px 5%;*/
			grid-template-columns: auto auto;
			
			/*grid-template-rows: 300px auto 100px 200px;*/
}
@media screen and (min-width: 1200px){
		.container{
			display: grid;
			grid-column-gap: 1em;
			/*margin: 0px 5%;*/
			grid-template-columns: repeat(3,1fr);
			
			/*grid-template-rows: 300px auto 100px 200px;*/
}
img{
	padding-top:5%;
	
}